@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Gloock&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+Mono:wdth,wght@75,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* General Styling */
.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar Styling */
.navbar {
  background-color: #004B96; /* Blue-600 */
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  
}

.nav-title{
  margin: 0; /* Removes default margin */
  font-size: 1.5rem; /* Adjust size as needed */
  color: white;
  white-space: nowrap; /* Prevents text from wrapping */
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whitelogo{
  width: 70px;
}

.logo-title-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s;
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Mobile Menu Button (Hidden on Desktop) */
.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.hamburger-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
}

/* Footer */
.footer {
  background-color: #004B96;
  color: white;
  padding: 2rem 1rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  gap: 1rem; /* Increased space between icons */
}

.social-icon {
  height: 35px; /* Smaller icon size */
  width: auto;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1); /* Subtle hover effect */
}

/* Responsive Design (Mobile) */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links on mobile */
  }

  .mobile-menu-btn {
    display: block; /* Show hamburger menu */
  }
}

@media (min-width: 1440px){
  .nav-container{
    max-width: 1400px;
    padding: 0 2rem;
  }
  .nav-title {
    font-size: 1.8rem;
  }

  .whitelogo {
    width: 80px;
  }

  .nav-links {
    gap: 2rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }
  .footer-content {
    max-width: 1400px;
  }

  .social-icon {
    height: 40px;
  }
}